[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "==1.15.0"
pandas = "==0.23.3"
matplotlib = "==2.2.2"
tkinter = "*"
pytest = "*"

[requires]
python_version = "3.6"
